modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Start Backend"

[[workflows.workflow]]
name = "Start Backend"
author = 5220188
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm run dev"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3001
externalPort = 80
